<div>
  <header class="header">
    <button id="buttonComponent" (click)="isOpenWindow = !isOpenWindow">
      Категории
    </button>

    <modal-window [isOpen]="isOpenWindow">
      @for(item of categories; track item.name){
      <button
        class="buttonCaregory"
        style="background-color: {{
          item.category === categoryActive
            ? 'lightblue'
            : 'rgba(0, 0, 0, 0.096)'
        }};"
        (click)="acceptCategory(item.category)"
      >
        {{ item.name }}
      </button>
      }
    </modal-window>

    <input
      id="inputComponent"
      type="text"
      placeholder="Поиск . . ."
      [(ngModel)]="searchInput"
    />
    <button id="buttonComponent" (click)="search()">Поиск</button>
  </header>

  <div class="items">
    @if(isMount){ @if(items !== []){ @for(item of items; track item.articleID){
    <div class="item">
      <a routerLink="/articles/{{ item.articleID }}"
        ><h1>{{ item.title }}</h1></a
      >
      <p>{{ item.description }}</p>
    </div>
    } }@else if(items === []) {
    <div><h1>В данный момент на эту тему нету поcтов.</h1></div>
    } } @else {
    <load-component></load-component>
    }
  </div>
</div>
