@mixin ah {
  transition: 0.1s all;

  &:hover {
    background-color: black;
    color: white;
  }
  &:active {
    background-color: rgb(57, 57, 57);
    color: rgb(158, 158, 158);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background-color: rgba(219, 219, 219, 0.552);
  
  border-radius: 40px;

  input {
    margin-left: 20px;
    margin-right: 20px;

    width: 500px;
    height: 0px;
  }

  .buttonCaregory{
    width: 160px;
    height: 50px;

    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;

    border-radius: 50px;
    border: none;

    font-size: larger;

    background-color: rgba(184, 184, 184, 0.542);


    &:hover{
      background-color: black;
      color: white;
    }
    &:active{
        background-color: rgb(57, 57, 57);
        color: rgb(158, 158, 158);
    }
  }
}

.items {
    padding: 5px;


  .item {
    background-color: rgb(88, 138, 255);
    font-family: "Courier New", Courier, monospace;

    padding: 10px;
    margin: 10px;

    border-radius: 30px;

    overflow-wrap: break-word;

    div{
      display: block;

      width: 100%;

      display: flex;
      justify-content: space-between;

      h1 {
        text-decoration: underline;
      }

      .category{
        color: rgb(54, 54, 54);
      }
    }

    .description {
      margin-top: 20px;
    }

    .specificCategoryBlock{
      height: 100%;
      width: 98%;

      margin-top: 20px;
      padding: 10px;

      border-radius: 20px;
      background-color: rgb(255, 255, 255);

      display: flex;
      flex-direction: column;

      .vote-block{
        width: 100%;
        height: 50px;

        border-radius: 100px;
        border: solid 1px rgb(105, 105, 105);

        margin-top: 5px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
          font-size: 20px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
          margin-left: 10px;
        }

        .fill{
          position: absolute;
        }

        .vote{
          width: 100px;
          height: 20px;

          background-color: white;

          border: solid 1px rgb(60, 60, 60);
          border-radius: 5px; 

          margin-right: 15px;

          &:hover{
            border: solid 1px rgb(114, 114, 114)
          }
          &:active{
            border: solid 1px rgb(46, 46, 46)
          }
        }
      }
      
    }
  }
}
