.item {
    background-color: rgb(88, 138, 255);
    font-family: "Courier New", Courier, monospace;

    padding: 10px;
    margin: 10px;

    border-radius: 30px;

    overflow-wrap: break-word;

    div{
      display: block;

      width: 100%;

      display: flex;
      justify-content: space-between;

      h1 {
        text-decoration: underline;
      }

      .category{
        color: rgb(54, 54, 54);
      }
    }

    .description {
      margin-top: 20px;
    }

    .specificCategoryBlock{
      height: 100%;
      width: 98%;

      margin-top: 20px;
      padding: 10px;

      border-radius: 20px;
      background-color: rgb(255, 255, 255);

      display: flex;
      flex-direction: column;
    }
}