<div id="page" class="createPublication">
  <h1>Средство создания публикаций</h1>

  <input
    class="input"
    id="inputName"
    э
    type="text"
    [(ngModel)]="titlePublication"
    placeholder="Имя публикации"
  />
  <textarea
    class="input"
    id="inputDescription"
    type="text"
    [(ngModel)]="descriptionPublication"
    placeholder="Описание публикации"
  ></textarea>

  <div class="createBody">
    @for (item of listInput; track item) {
      @if (item.type === 'text') {
        <textarea
          class="input"
          id="inputText"
          type="text"
          (keyup)="writeText($event, item.key!)" 
          placeholder="ТЕКСТ"
        ></textarea>
      }
      @else {
        @if(item.type === 'image-true'){
          <img class="createImage" src='{{item.data}}'/>
        }@else {
          <input type="file" class="file" (change)="getFile($event, item.key!)"/>
        }
      }
      <button class="remove" (click)="removeText(item.key!)">
        Удалить
      </button>
    }
  </div>

  <div class="selectInput">
    <button class="inputButton" (click)="addDataListInput('text', '')">Добавить текст</button>
    <button class="inputButton" style="margin-left: 10px;" (click)="addDataListInput('image-false', '')">Добавить картинку</button>
  </div>
  
  <button id="buttonComponent" class="publish" (click)="create()">
    Опубликовать
  </button>
</div>
