@mixin button {
    &:hover{
        border: solid 1px rgb(114, 114, 114)
    }
    &:active{
        border: solid 1px rgb(46, 46, 46)
    }
}

.vote{
    .createVote{
        width: 20px;
        height: 20px;

        background-color: white;
 
        border: solid 1px rgb(60, 60, 60);
        border-radius: 5px;

        margin-top: 10px;

        @include button
    }

    .votes{
        width: 100%;
        height: 100%;

        .elem{
            width: 100%;
            height: 50px;

            border-radius: 10px;
            border: solid 1px rgb(105, 105, 105);

            margin-top: 5px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .changeVoteName{
                border-radius: 5px;
                border: solid 1px rgb(125, 125, 125);

                margin-left: 10px;
                padding: 5px;
            }

            p{
                font-size: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                margin-left: 10px;
            }

            div{  
                margin-right: 20px;

                button{
                    width: 50px;
                    height: 20px;
    
                    background-color: white;
    
                    border: solid 1px rgb(60, 60, 60);
                    border-radius: 5px; 

                    margin-left: 5px;

                    @include button
                }
            }
        }
    }
}