<div class="fullPage-block" id="page">
  @if(isMount){
    <button id="buttonComponent" routerLink="/publication/">Назад</button>

    <div class="body">
      <h1>{{ item.title }}</h1>
      <p>{{ item.text }}</p>
    </div>
  
    <div class="comments-block">
      <div class="inputBlock">
        <input
          type="text"
          placeholder="Сообщение . . ."
          [(ngModel)]="inputText"
          id="inputComponent"
        />
  
        <button
          (click)="postComment()"
          id="buttonComponent"
        >
          Отправить
        </button>
      </div>
  
      <div class="comments">
        @if (isMount) { @for(comment of comments; track comment.commentID){
        <comment-component
          [comment]="comment"
          [userInfo]="userInfo"
        ></comment-component>
        } }
      </div>
    </div>
  }@else {
    <load-component></load-component>
  }
</div>
