.fullPage-block{
    overflow-wrap: break-word;

    .body{   
        margin-top: 50px; 
        p{
            margin-top: 20px;
            font-size: 20px;
        }
    }
    .comments-block{
        width: 100%;

        padding-top: 60px;
        margin-top: 60px;

        border-top: 1px solid black;

        .comment-input{
            width: 80%;
            height: 5px;
        }
        .comment-button{
            margin-left: 35px;
        }

        .comments{
            div{
                input{
                    height: 5px;
                    width: 80%;
                    margin-right: 20px;
                }
            }
        }
    }
}