.fullPage-block{
    overflow-wrap: break-word;

    .body{   
        margin-top: 50px; 
        p{
            margin-top: 20px;
            font-size: 20px;
        }
    }
    .comments-block{
        width: 100%;

        padding-top: 60px;
        margin-top: 60px;

        border-top: 1px solid black;

        .inputBlock{
            display: flex;
            justify-content: space-between;

            .comment-input{
                width: 80%;
                height: 5px;
            }
        }   
    }
}