.fullPage-block{
    overflow-wrap: break-word;

    .body{   
        margin-top: 50px; 
        p{
            margin-top: 20px;
            font-size: 20px;
        }
    }

    .comments{
        border-top: 1px solid black;

        padding-top: 60px;
        margin-top: 60px;

        width: 100%;

        div{
            input{
                height: 5px;
                margin-right: 20px;
            }
        }

        .comment{
            width: 98%;
            height: 100%;

            padding: 10px;
            margin-top: 20px;

            border-radius: 10px;

            // background-color: #e0e0e0;
            font-family: 'Courier New', Courier, monospace;

            div{
                display: flex;
                .name{
                    text-decoration: underline;
                }
                .id{
                    position: relative;
                    left: 615%;

                    color: rgb(100, 100, 100);
                }
            }

            .text{
                margin-top: 15px;
            }
        }
    }
}