<div id="page" class="createPublication">
  <h1>Средство создания публикаций</h1>

  <input
    class="input"
    id="inputName"
    э
    type="text"
    [(ngModel)]="titlePublication"
    placeholder="Имя публикации"
  />
  <textarea
    class="input"
    id="inputDescription"
    type="text"
    [(ngModel)]="descriptionPublication"
    placeholder="Описание публикации"
  ></textarea>

  <textarea
    class="input"
    id="inputText"
    type="text"
    [(ngModel)]="textPublication"
    placeholder="ТЕКСТ"
  ></textarea>

  <div class="select">
    <h2>Выберите категорию</h2>

    <select>
      @for (elem of categoriesName; track elem.name) {
      <option (click)="chooseCategory(elem.category)">{{ elem.name }}</option>
      }
    </select>
  </div>

  <div class="selectedCategory">
    @if(categoryName === 'vote'){
    <createvote-component
      (addItemEvent)="implementChildData($event)"
    ></createvote-component>
    }
  </div>

  <button id="buttonComponent" class="publish" (click)="create()">
    Опубликовать
  </button>
</div>
