@mixin button {
    &:hover{
        border: solid 1px rgb(114, 114, 114)
    }
    &:active{
        border: solid 1px rgb(46, 46, 46)
    }
}

.createPublication {
    display: flex;
    flex-direction: column;

    .publish{
        margin-top: 15px;
    }

    .input{
        padding: 10px;
        margin-top: 10px;

        border-radius: 5px;
        border: solid 1px rgb(156, 156, 156);

        @include button
    }

    #inputDescription{
        resize: vertical;
        height: 50px;
    }
    #inputText{
        resize: vertical;
        height: 200px;
    }

    .select{
        margin-top: 10px;
    }


    .selectedCategory{
        margin-top: 20px;  
    }
}