@mixin ah {
  transition: 0.1s all;

  &:hover {
    background-color: black;
    color: white;
  }
  &:active {
    background-color: rgb(57, 57, 57);
    color: rgb(158, 158, 158);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  background-color: rgba(219, 219, 219, 0.552);

  input {
    margin-left: 20px;
    margin-right: 20px;

    width: 500px;
    height: 0px;
  }
}

.items {
  .item {
    background-color: rgb(88, 138, 255);
    font-family: "Courier New", Courier, monospace;

    padding: 10px;
    margin: 10px;

    border-radius: 30px;

    overflow-wrap: break-word;

    h1 {
      text-decoration: underline;
    }
    p {
      margin-top: 20px;
    }
  }
}
