.comment{
    width: 98%;
    height: 100%;

    padding: 10px;
    margin-top: 20px;

    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;

    div{
        display: flex;
        
        .name{
            text-decoration: underline;
        }
    }

    .text{
        margin-top: 15px;
    }
}