#page{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;


    div{
        button{
            margin-left: 30px;
            width: 150px;
            height: 60px;
        }
    }
}