main{
    .block{
        position: relative;
        top: 50px;

        border-radius: 50px;

        width: 1200px;
        height: 100%;
        box-shadow: -1px -1px 15px 1px rgb(224, 224, 224);
        
        margin: 0 auto;
    }
}