main{
    .block{
        position: relative;
        top: 50px;

        border-radius: 50px;

        width: 1200px;
        height: 100%;
        background-color: #f7faff;
        box-shadow: -1px -1px 15px 1px rgb(128, 128, 128);

        overflow: hidden;
        margin: 0 auto;
    }
}