main{
    display: flex;
    justify-content: center;

    .block{
        position: relative;
        top: 30px;

        min-width: 90%;
        height: 100%;
        
        box-shadow: -1px -1px 15px 1px rgb(224, 224, 224);
        border-radius: 50px;
        
        margin-bottom: 100px;

        overflow: hidden;
    }
}