<header class="header">
  <button id="buttonComponent" (click)="isOpenWindow = !isOpenWindow">
    Категории
  </button>

  <modal-window [isOpen]="isOpenWindow">
    @for(item of categoriesName; track item.name){
    <button
      class="buttonCaregory"
      style="background-color: {{
        item.category === categoryActive ? 'lightblue' : 'rgba(0, 0, 0, 0.096)'
      }}"
      (click)="acceptCategory(item.category)"
    >
      {{ item.name }}
    </button>
    }
  </modal-window>

  <input
    id="inputComponent"
    type="text"
    placeholder="Поиск . . ."
    [(ngModel)]="searchInput"
  />
  <button id="buttonComponent" (click)="search()">Поиск</button>
</header>
